/* 1. ナビゲーションの下線のまとめ */
/* navメニュー全体*/
nav ul{
display: table;
margin: 0 auto;
padding-bottom: 30px;
width: 80%;
text-align: center;
}

/* navの各メニュー幅 */
nav li{
display: table-cell;
min-width: 50px;
}

/* navの各メニュー文字 */
nav a{
display: block;
width: 100%;
font-family: "YuMincho", serif;
text-decoration: none;
color: #555;
padding-bottom: 5px;
}

/* HOME の下線 */
nav li.current{
border-bottom: 3px solid #92D050;
}

/* navメニューのカーソル下線 */
nav li:hover{
color: #E7DA66;
border-bottom: 3px solid #F0E475;
}

/* /1. ナビゲーションの下線のまとめ */

/* 2. ヘッダーロゴ　*/

.logo {
	text-align: center;
}

/* /2. ヘッダーロゴ */

/* 3. スライド画像 */
/* 全体設定 */
.css-carousel-slider3 {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.css-carousel-slider3 img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

/* スライド設定 */
.css-carousel-slider3 .slide-wrap {
    width: 300%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 0;
    animation: css-carousel-slider3 15s infinite;
    animation-delay: 2s;
}
.css-carousel-slider3 .slide-wrap-main {
    width: 100%;
    z-index: 1;
    animation: css-carousel-slider-main3 15s infinite;
    animation-delay: 2s;
}
.css-carousel-slider3 .slide {
    width: 100%;
}

/* スライダーアニメーションの設定 */
@keyframes css-carousel-slider3 {
    0% { transform: translateX(0); }

    27.3% { transform: translateX(calc(1 / 3 * -100%)); }
    33.3% { transform: translateX(calc(1 / 3 * -100%)); }

    60.6% { transform: translateX(calc(2 / 3 * -100%)); }
    66.6% { transform: translateX(calc(2 / 3 * -100%)); }

    94% { transform: translateX(calc(3 / 3 * -100%)); }
    100% { transform: translateX(calc(3 / 3 * -100%)); }
}

@keyframes css-carousel-slider-main3 {
    0% { transform: translateX(100%); }
    66.6% { transform: translateX(100%); }
    94% { transform: translateX(0%);}
}
/* /3. スライド画像 */

/* 4. 画像の余白 */
.css-carousel-slider3 {
	background-color: #ffffff;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

/* /4. 画像の余白 */

/* 5. ニュース */
.readmore-news{
	padding-left: 60px;
}
.readmore-news li{
	border-bottom: 1px dotted #000;
	list-style: none;
	padding: 10px;
	width: 1000px;
}
.readmore-news a{
	color: #000;
	text-decoration: none;
}
.readmore-news span{
	background-color: #2388b8;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin-right: 20px;
	padding: 5px;
}
.readmore-news time{
	display: inline-block;
	font-weight: bold;
	margin-right: 40px;
}
.readmore-news p{
	color: 1c448d;
	display: inline-block;
	text-decoration: underline;
}
.readmore-news .new::after{
	content: "NEW";
	color: #d10606;
	font-size: 1.1rem;
	border: 1px solid #d10606;
	padding: 4px 8px;
	margin: 0 0 0 20px;
	display: inline-block;
	line-height: 1;
}


/* /5. ニュース */

/* 6. さらに表示 */
.readmore-news{
	margin: 30px 100px;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #CCC;
}

.readmore-content{
	position: relative;
	overflow: hidden;
	height: 100px;
}

.readmore-content::before{
	/* display: block; */
	position: abcolute;
	bottom: 0;
	left: 0;
	width: 100%;
	content: "";
	height: 50px;
	background: -webkit-linear-gradient(top, raba(255, 255, 266, 0) 0%, raga(255, 255, 255, 0.8) 50%, raga(255, 255, 255, 0.8) 50%, #fff 100%);
	background: linear-gradient(top, raga(255, 255, 255, 0) 0%, raga(255, 255, 255, 0.8) 50%, raga(255, 255, 255, 0.8) 50%, #fff 100%);
}

.readmore-label{
	display: table;
	bottom: 5px;
	position: absolute;
	bottom: 5px;
	left: 645px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	margin: 0 auto;
	z-index: 2;
	padding: 0 10px;
	background-color: #ff7777;
	border-radius: 10px;
	color: #FFF;
}
.readmore-label:before{
	content: 'さらに表示';
}
.readmore-check{
	display: none;
}
.readmore-check:checked ~ .readmore-label{
	position: static;
	transform: translateX(0);
}
.readmore-check:checked ~ .readmore-label:before{
	content: 'Close';
}
.readmore-check:checked ~ .readmore-content{
	height: auto;
}
.readmore-check:checked ~ .readmore-content::before{
	display: none;
}

/* /6. さらに表示 */

/* 7. ファンクラブ */


.fan-image{
	position: relative;
	width: 500px;
	height: 400px;
	backgrund: #C5E1A5;
}
.fan-box {
	position: relative;
	border-bottom: 1px solid #333;
	margin: 0-x 30px;
	padding: 30px;
}
.fan-image img{
	position: relative;
	max-width: 100%;
	left: 100px;
	height: auto;
	border-radius: 4px;
	box-shadow:0 0 5px #999;
}

.fan-script{
	position:absolute;
	top: 200px;
	right: 150px;
	width: 50%;
	background:#fff;
	padding:15px;
	box-shadow:0 0 5px #999;
	font-size:15px;
	line-height:130%;
}
.fan-script p{
	font-size: 20px;
	font-family: 'ＭＳ Ｐゴシック', 'Hiragino Kaku Gothic ProN', sans-serif;
}
/* /7. ファンクラブ */
/* 8. 横並び */
.other-contents {
	display: block;
	flex-direction: row;
	height: 400px;
	justify-content: space-around;
	margin: 10px 30px;
}
.other-contents .free-material{
	text-align: center;
	width: 30%;
	font-size: 12px;
	border-radius: 2px;
	border: 1px solid #444444;
}

.free-material{
	float: left;
	margin: 5px 10px;
}

.other-contents{
	overflow: hidden;
	border-bottom: 1px solid #333;
	padding: 10px;
}

.other-contents h2{
	text-stroke: 1px #000;
	-webkit-text-stroke: 1px #000;
	font-size: 25px !important;
	color: #fff;
}

/* /8. 横並び */

/* 9. フッター */
.footer04 {
 color: #808080;
 background: #e5e5e5;
 text-align: center;
 padding: 30px;
}
.footer04 img {
	width: 300px;
	height: 100px;
}
.footer04 a {
 color: #808080;
 text-decoration: none;
}
.footer04 a:hover {
 text-decoration: underline;
}
.footer04 .menu {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.footer04 .menu li {
 margin: 0;
 padding: 0 20px;
 border-right: 1px #808080 solid;
}
.footer04 .menu li:last-child {
 border: none;
}
.footer04 .copyright {
 margin: 0;
 padding: 20px 0 0 0;
}

@media only screen and (max-width: 599px) {
.footer04 .menu {
 justify-content: flex-start;
}
.footer04 .menu li {
 width: 50%;
 box-sizing: border-box;
 border: none;
}
.footer04 .menu li:nth-child(odd) {
 border-right: 1px #808080 solid;
}
}
/* /9. フッター　*/

/* 10. フッター２ */
.copyright{
	text-align: center;
}

/* /10. フッター２ */

/* 11. ページトップへ戻る */
#page-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	font-size: 1.2rem;
	line-height: 1.2rem;
	background: #fff;
	color: 737373;
	padding: 10px;
	border: solid 1px;
	border-radius: 50%;
	box-shadow: 0 2px 10px -6px rgba(0, 0, 0, .5). 0 3px 10px -4px rgba(0, 0, 0, .2);
}

#page-top:hover {
	background: #666;
	color: "fff;
}

/* /11. ページトップへ戻る */


/* LIVE/EVENT */
.calendar-container {
	width: 500px;
	margin: 0 auto;
	border-radius: 5px;
	background: #f6f5f4;
	color: #1a1a1a;
}
h1 {
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 24px;
  margin: 0;
}
.calendar {
  padding: 0 30px 30px 30px;
}
table {
  width: 100%;
}
th, td {
  text-align: center;
  padding: 10px;

}
th {
  font-weight: normal;
  font-size: 14px;
}
td {
  font-weight: bold;
}
.day *:first-child {
  color: #ff838b;
}
.day *:last-child {
  color: #6fb5ff;
}


/* LIVE/EVENT */
.venue {
	margin-left: 130px;
	width: 80%;
	border-sapacing: 0;
}

.venue th{
  /* border-bottom: solid 2px #fb5144; */
  padding: 40px 0;
}

.venue td{
  /* border-bottom: solid 2px #ddd; */
  text-align: left;
  padding: 10px 0;
}


.LIVE td{
	padding-left:40px;
	text-align:center;
}

.venu1 {
	background-color: #ffffff;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all  0.6s ease;
}

.venu1:hover{
	background-color: #ffc9d7;
}

.venu2 {
	background-color: #ffffff;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all  0.6s ease;
}
.venu2:hover{
	background-color: #ffc9d7;
}

.venu3 {
	background-color: #ffffff;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all  0.6s ease;
}
.venu3:hover{
	background-color: #ffc9d7;
}

.venu4 {
	background-color: #ffffff;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all  0.6s ease;
}
.venu4:hover{
	background-color: #ffc9d7;
}

.venu5 {
	background-color: #ffffff;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all  0.6s ease;
}
.venu5:hover{
	background-color: #ffc9d7;
}

.venue a{
	text-decoration: none;
}

.venue a:visited{
	color: inherit;
}
/* /LIVE/EVENT */

/* BIOGRAPHY */
.script {
	text-align: center;
}
.list{
	font-family: "Yu Mincho";
	font-size: 20px;
	padding-left: 500px;
}
@keyframes open-keyanime1{  
  0% { 
    opacity:0; 
 } 
  100% {
    opacity:1; 
  }
}

.Introduction {
	animation-name: open-keyanime1 ; 
 	animation-duration: 6.5s; 
 	animation-fill-mode: both;  
}

/* /BIOGRAPHY */

/* NEWS */
.header-2 {
	width: 100%;
	height: 100px;
	color: #ffffff;
	text-align: center;
	padding-top:10px;
}
.header-3 {
	width: 100%;
	height: 30px;
	background-color: #e5e5e5;
}

.news-contents{
	padding-top: 50px;
	padding-left: 200px;
	padding-bottom: 50px;
}
.news-left{
	border: 1px solid #808080;
	display: inline-block;
	padding: 10px;
	margin: 0 20px;
}
.news-contents a{
	text-decoration: none;
}


/* 画像マウスオーバー　*/

/* /画像マウスオーバー */
/* /NEWS */


/* オープニングアニメーション　*/
.shutter{
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  background-color:#fff;
  z-index:99;
  -webkit-animation: byeShutter 2.4s forwards;
  animation: byeShutter 2.4s forwards;
}
.opening {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: logo 0.8s forwards;
  animation: logo 0.8s forwards;
  animation-delay: 0.2s;
}
@keyframes byeShutter {
70% {
  opacity: 1;
}
100% {
  display: none;
  opacity: 0;
  z-index: -1;
}
}
@keyframes logo {
0% {
  opacity: 1;
}
  
50% {
  transform: rotate(0deg);     
}
  100% {
  transform: scale(0.8);
  }
}

/* CONTACT */
/* カレンダーとクラス名　タグが重複するのでクラス名の調整必要 !!!*/
/*リセットcss↓*/

/*
html {
  overflow-y: scroll;
}
*/

/*
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
*/

address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption,th {
  text-align: left;
}
q:before,q:after {
  content: '';
}
object,embed {
  vertical-align: top;
}


hr,legend {
  display: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}


img,abbr,acronym,fieldset {
  border: 0;
}

/*
li {
  list-style-type: none;
}
*/

sup {
  vertical-align: super;
  font-size: 0.5em;
}
img {
  vertical-align: top;
}
i {
  font-style: normal;
}
/*----リセットcss*----/

/*デザインcss↓*/
.box_con {
  max-width: 900px;
  margin: 0  auto;
}
@media only screen and (max-width: 768px) {
  .box_con {
    width: 95%;
  }
}
.box_con form {
  width: 100%;
}
.box_con form table {
  width: 100%;
}
.box_con form table tr {
  position: relative;
}
.box_con form table tr:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: dotted #cdcdcd 1px;
}
.box_con form table tr th {
  width: 30%;
  font-weight: normal;
  padding: 1em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .box_con form table tr th {
    text-align: center;
    width: 100%;
    display: block;
    background: #97ae88;
    padding: .8em .2em;
    color: #fff;
  }
}
.box_con form table tr th span {
  background: #cd6f55;
  padding: 0 .3em;
  color: #fff;
  margin-left: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con form table tr td {
  padding: 1em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .box_con form table tr td {
    padding: 1.5em .5em;
    display: block;
    width: 100%;
  }
}
.box_con form table tr .box_br {
  display: block;
}
.box_con form table tr select {
  border: 1px solid #97ae88;
}
.box_con form table tr label input {
  cursor: pointer;
  display: none;
  vertical-align: middle;
}
.box_con form table tr .radio02-input + label {
  padding-left: 23px;
  margin-right: 20px;
  position: relative;
}
.box_con form table tr .radio02-input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box_con form table tr .radio02-input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 3px;
  width: 12px;
  height: 12px;
  background: #97ae88;
  border-radius: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box_con form table tr select, .box_con form table tr input, .box_con form table tr textarea {
  width: 100%;
  height: 3em;
  padding: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con form table tr textarea {
  height: 10em;
}

/*プライバシーのデザインcss↓*/
.con_pri {
  max-width: 700px;
  margin: 0  auto;
}
@media only screen and (max-width: 768px) {
  .con_pri {
    width: 95%;
  }
}
.con_pri .box_pri {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #cdcdcd;
  background: #f7f7f7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px 55px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri {
    margin-top: 4%;
    padding: 3%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .con_pri .box_pri {
    padding: 4%;
  }
}
.con_pri .box_pri .box_tori {
  text-align: left;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori {
    margin-top: 4%;
  }
}
.con_pri .box_pri .box_tori h4 {
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 150%;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori h4 {
    margin-bottom: 4%;
  }
}
.con_pri .box_pri .box_tori .txt {
  padding: 0 20px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori .txt {
    padding: 0;
  }
}
.con_pri .box_pri .box_num {
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_num {
    margin-top: 5%;
  }
}
.con_pri .box_pri .box_num h4 {
  font-weight: normal;
  font-size: 113%;
}
.con_pri .box_pri .box_num .txt {
  padding: 10px 0 0 20px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_num .txt {
    padding: 3% 0 0 3%;
  }
}

.box_check {
  text-align: center;
  margin: 1em auto;
}
.box_check label {
  display: inline-block;
}
.box_check label span {
  margin-left: .3em;
}

.btn {
  text-align: center;
}
.btn input {
  display: inline-block;
  background: #eee;
  padding: .5em 4em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.header-9 h1{
	padding: 100px 0;
	font-size: 40px;
	
	color:#ffffff;
}
.header-9 img{
	height: 400px;
}
/* /CONTACT */

/* ログイン */
form,input {
  margin: 0;
}
#form {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #555;
}
form p {
  margin: 0;
  font-size: 14px;
}
.form-title {
  text-align: center;
}
.mail,
.pass {
  margin-bottom: 20px;
}
input[type="email"],
input[type="password"] {
  width: 300px;
  padding: 4px;
  font-size: 14px;
}
.submit {
  text-align: right;
}

.log-message{
	text-align: center;
	font-size: 20px;
}

.bottun {
	padding-bottom: 40px;
}
/* /ログイン */

/* グッズ */
.goods-top p{
	text-align: center;
	font-family: "Yu Mincho";
	text-size: 20px;
}
.goods-contents {
	padding-left: 350px;
	padding-bottom: 30px;
}

.goods-contents a{
	text-decoration: none;
}

/* 売り切れ表示 */
.hover-sold {
	position: relative;
	width: 320px;
	height: 213px;
	overflow: hidden;
}
.hover-sold .hover-img {
	marting: 0;
	padding: 0;
}

.hover-img img{
	width: 100%;
	height: 100%;
}

.hover-sold .hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  /*topを-100%にして非表示*/
  top: -100%;
  left: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.65);
  /*ホバーの動き方*/
  transition: .35s ease-in-out;
}
.hover-sold .hover-text .text1 {
  font-size: 30px;
  text-align: center;
  padding: 50px 20px;
}
.hover-sold .hover-text .text2 {
  font-size: 16px;
  padding: 0 20px;
}
/*ホバーエフェクト*/
.hover-sold:hover .hover-text {
  /*topを0にして上からスライド*/
  top: 0;
}
/* /グッズ */

/* /オープニングアニメーション */
